/*

Name: Ashley Vallette
Date: 2022-04-03
Purpose: Change the styles of miniGolfKiosk.html

 */



#container{
    /* Adjust the container padding*/
    padding: 10px;
    /* Centre the elements */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;

}


span.titleFont {
    padding-left: 10px;
    font-size: 35px;
    font-size-adjust: inherit;
}

h2 {
   padding-top: 25px;
}

span.largeFont {
    padding-left: 10px;
    font-size: 25px;
    font-size-adjust: inherit;
}

img.golfImage {
    width: 100px;
}

div.totalArea{
    padding-top:50px;
}


/* To display the button for darkMode/lightMode on top of everything on the page. */
.topOfForm {
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 15px;
    z-index: 999999;
}



legend {
    padding-top: 40px!important;
}

.dark {
    background-color: rgb(45, 45, 45);
    color: rgb(245, 245, 245);
}

.buttonPadding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sideText {
    padding-top: 25px;
}

.form-group {
    padding-top: 10px;
}
